* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.container .row {
  max-width: 1140px;
}

.container .row .col{
  padding: 0;
}

/*Estilos Menú*/

.ods {
  max-width: calc(80% - 16px);
}

.navbar{
  display: flex;
  justify-content: space-around;
}

button.navbar-toggler {
  max-width: 20%;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

a.nav-link {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.55);
  font-size: 18px;
}

/*Estilos Inicio*/

h1.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.objetivos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.objetivos img {
  max-width: 150px;
  margin: 10px;
}

p.obj11 {
  margin: 30px 0;
}

/*Estilos Nosotros*/

.header {
  display: flex;
  flex-direction: column;
}

.header h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 20px 0;
}

span.enfasis {
  font-weight: bold;
}

.container-accordion .row{
    width: 100%;
}

.accordion-item {
  margin: 15px 0;
  border-radius: 10px;
}

.accordion-button {
  border-radius: 10px 10px 0 0;
}

table .numero-bold{
  font-weight: bold;
}

.informacion{
    display: flex;
    flex-direction: column;
}

.informacion .boton{
    display: flex;
}
.informacion .boton .first-div{
    width: calc(50% - 50px);
}

.informacion .btn{
    width: 100px;
}

.informacion a.btn{
    margin-bottom: 20px;
}

/*Estilos Acciones*/

.card{
    margin: 20px 0;
}

.card-body .boton{
    display: flex;
}
.card-body .boton .first-div{
    width: calc(50% - 50px);
}

.card-body .btn{
    width: 100px;
}

.container h3{
  margin-bottom: 20px;
}

.modal-body .container{
  display: flex;
  flex-direction: column;
}

.modal-body .container .row{
  margin-bottom: 30px;
}

.modal .row,
.modal .img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .img{
  margin-bottom: 20px;
}

.modal .img img{
  max-width: 200px;
  max-height: 200px;
}

.modal .modal-dialog{
  min-width: 60%;
}

.order-lg-0{
  display: flex;
  justify-content: center;
}

.order-lg-0 img{
  width: 300px;
}

/*Estilos Recursos*/

.contenedor-main{
  display: flex;
  flex-direction: column;
}

.contenedor-main h2{
  text-align: center;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.contenedor-recursos{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contenedor-recursos .card{
  margin: 20px;
}

.contenedor-recursos .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor-recursos .boton{
  display: flex;
  justify-content: center;
}

.videos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*Estilos Contacto*/

.form .contenedor-main{
  padding: 0 10px;
}

.form .contenedor-main{
  max-width: 700px;
}

.container.form{
  min-height: calc(100vh - 278px);
  display: flex;
  align-items: center;
}

.container.form .col{
  display: flex;
  flex-direction: column;
}

.container.form img{
  margin: 15px 0;
}

.container.form .img{
  display: flex;
  justify-content: center;
  max-width: 500px;
}

.container.form p{
  font-size: 17px  
}

.form input.name{
  max-width: 300px;
}

form{
  padding: 20px;
  border: #415e8435 1px solid;
  margin-bottom: 20px;
}

.form i.fa-facebook-f{
  color: #1877f2;
  font-size: 80px;
}

.form i.fa-flickr{
  color: #0063dc;
  font-size: 80px;
}

.form i.fa-twitter{
  color: #1da1f2;
  font-size: 80px;
}

.form i.fa-vimeo-v{
  color: #1ab7ea;
  font-size:80px
}

.form .init {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

/*Estilos footer*/

footer {
  background: #415e84;
  display: flex;
  padding: 10px 0;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer p {
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

footer .init {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer .col-12 {
  margin: 20px 0;
}

i {
  color: #fff;
  font-size: 40px;
}